.card-header-portal {
	background-color: #d7a5e1 !important;
}

.nav-link-portal {
	color: #423e43 !important;
}

.portal {
	margin-top: 10em;
}

.btn-portal {
	width: 100%;
	background-color: #f2be32 !important;
}

.btn-pay-all {
	width: 100% !important;
	background-color: #f2be32 !important;
}